@{
    ViewData["Title"] = "Arts & Fashion";
}

<div class="film-video-container">
        <video autoplay muted loop id="publishing-bgvideo">
            <source src="assets/videos/arts.mp4" type="video/mp4">
        </video>
        <div class="filmtext-overlay">
            <h1 style="font-weight: bold;">Fine Arts</h1>
        </div>
    </div>

    <div class="row bg-light">
        <div class="col-md-4 bg-light">
            <div class="arts-container">
                <img src="assets/img/arts/custon-art.jpg" style="height: 200px; width: 300px;" alt="">
            </div>   
        </div>
        <div class="col-md-8 film-text">
            <h2 class="bg-light" style="color: black;">CUSTOM ART COMMISSIONS</h2>
            <p style="text-align: center;">Transform your ideas into timeless masterpieces. Whether you’re looking for a <br>
                personalized portrait, a statement piece for your home, or a gift that speaks volumes, our custom art <br>
                commissions are designed to bring your imagination to life. Collaborate with talented artists to create <br>
                artwork that is as unique as your story. Every brushstroke is a reflection of your vision.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 bg-dark film-text">
            <h2 class="bg-dark" style="font-style: italic; text-align: center;">ART INSTALLATIONS</h2>
            <p style="text-align: center; color: white;">Elevate your space with breathtaking, site-specific art installations. <br>
                From modern interiors to public spaces, we specialize in creating large-scale, immersive pieces that leave a lasting <br>
                impression. Our installations seamlessly integrate with your environment, combining creativity and craftsmanship to <br>
                deliver captivating visual experiences.</p>
                <div>
                    <a href="@Url.Action("Index", "Home")#contact" class="btn btn-one" style="text-decoration: none;outline: none; border: none;">
                        <span style="color: #fffe07;">Set an Appointment</span>
                    </a>
                </div>
        </div>
        <div class="col-md-4 bg-dark">
            <div class="arts-container">
                <img src="assets/img/arts/installations.jpg" style="width: 300px;" alt="">
            </div> 
        </div>
    </div>

    <div class="row bg-light">
        <div class="col-md-4 bg-light">
            <div class="arts-container">
                <img src="assets/img/arts/consulting.jpg" alt="">
            </div>   
        </div>
        <div class="col-md-8 film-text">
            <h2 class="bg-light" style="color: black; font-style: italic; text-align: center;">ART CONSULTING</h2>
            <p style="text-align: center;">Curate art that aligns with your aesthetic and purpose. Our art consulting services <br>
                cater to individuals, businesses, and organizations seeking expert guidance in acquiring, displaying, or building <br>
                art collections. From selecting pieces that enhance your brand identity to curating gallery-worthy spaces, we help <br>
                you make art a central part of your story.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 bg-dark film-text">
            <h2 class="bg-dark" style="font-style: italic; text-align: center;">FINE ART for MARKETING & BRANDING</h2>
            <p style="text-align: center; color: white;">Stand out with artistic visuals that captivate your audience. We blend <br>
                fine art techniques with marketing strategies to produce one-of-a-kind visuals for campaigns, branding, and product <br>
                launches. Whether it's handcrafted illustrations, custom packaging, or original artwork for luxury brands, we ensure <br>
                your identity resonates with authenticity and elegance.
            </p>
            
                <div>
                    <a href="@Url.Action("Index", "Home")#contact" class="btn btn-one" style="text-decoration: none;outline: none; border: none;">
                        <span style="color: #fffe07;">Set an Appointment</span>
                    </a>
                </div>
        </div>
        <div class="col-md-4 bg-dark">
            <div class="arts-container">
                <img src="assets/img/arts/fine-act.jpg" alt="">
            </div> 
        </div>
    </div>

    <div class="row bg-light">
        <div class="col-md-4 bg-light">
            <div class="arts-container">
                <img src="assets/img/arts/licencing.jpg" alt="">
            </div>   
        </div>
        <div class="col-md-8 film-text">
            <h2 class="bg-light" style="color: black; font-style: italic; text-align: center;">ART LICENSING & REPRODUCTION</h2>
            <p style="text-align: center;">Bring fine art to the forefront of your business. Our art licensing and reproduction services <br>
                offer access to original artwork for commercial use, including prints, products, and digital platforms. Whether you’re in <br>
                retail, publishing, or interior décor, we provide high-quality reproductions that transform everyday items into works of art.</p>
        </div>
    </div>

    <!-- FASHION SECTION -->
    <div class="film-video-container">
        <video autoplay muted loop id="publishing-bgvideo">
            <source src="assets/videos/fashion.mp4" type="video/mp4" style="filter: grayscale(5px);">
        </video>
        <div class="filmtext-overlay">
            <h1 style="font-weight: bold;">Fashion Design</h1>
        </div>
    </div>

    <div class="row bg-light">
        <div class="col-md-4 bg-light">
            <div class="arts-container">
                <img src="assets/img/arts/concept.jpg" alt="">
            </div>   
        </div>
        <div class="col-md-8 film-text">
            <h2 class="bg-light" style="color: black;">CONCEPT DEVELOPMENT</h2>
            <p style="text-align: center;">Bring your vision to life with expertly crafted concepts that set the foundation for exceptional <br>
                fashion. From mood boards to sketches, we collaborate with you to develop unique, trend-driven ideas that reflect your style, <br>
                brand, or event. Whether you’re launching a collection or seeking inspiration for a one-of-a-kind design, we turn imagination <br>
                into reality with precision and creativity.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 bg-dark film-text">
            <h2 class="bg-dark" style="font-style: italic; text-align: center;">TECHNICAL DESIGN & PRODUCTION</h2>
            <p style="text-align: center; color: white;">From concept to creation, our technical expertise ensures flawless execution. <br>
                We handle every step of the production process, including fabric selection, pattern making, stitching, and quality <br>assurance.
                With attention to detail and functionality, we bring your designs to life—ready to impress on the runway, <br>
                in stores, or in everyday wear.</p>
                <div>
                    <a href="@Url.Action("Index", "Home")#contact" class="btn btn-one" style="text-decoration: none;outline: none; border: none;">
                        <span style="color: #fffe07;">Set an Appointment</span>
                    </a>
                </div>
        </div>
        <div class="col-md-4 bg-dark">
            <div class="arts-container">
                <img src="assets/img/arts/technical.jpg" alt="">
            </div> 
        </div>
    </div>

    <div class="row bg-light">
        <div class="col-md-4 bg-light">
            <div class="arts-container">
                <img src="assets/img/arts/custon-fashion.jpg" style="height: 200px; width: 170px;" alt="">
            </div>   
        </div>
        <div class="col-md-8 film-text">
            <h2 class="bg-light" style="color: black; font-style: italic; text-align: center;">CUSTOM CREATIONS</h2>
            <p style="text-align: center;">Experience fashion tailored exclusively for you. Whether you need bespoke garments for a <br>
                wedding, red carpet, or special event, our custom creations are designed to make a statement. Each piece is thoughtfully <br>
                crafted to fit your style, personality, and occasion, ensuring you stand out with elegance and originality.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 bg-dark film-text">
            <h2 class="bg-dark" style="font-style: italic; text-align: center;">PERSONAL STYLING</h2>
            <p style="text-align: center; color: white;">Redefine your wardrobe and boost your confidence with personalized <br>
                styling services. We curate outfits that reflect who you are and suit your lifestyle, body type, and goals. <br>
                Whether it’s a wardrobe makeover, personal shopping, or styling for a special occasion, we help you look and <br>
                feel your absolute best—every day.</p>
            
                <div>
                    <a href="@Url.Action("Index", "Home")#contact" class="btn btn-one" style="text-decoration: none;outline: none; border: none;">
                        <span style="color: #fffe07;">Set an Appointment</span>
                    </a>
                </div>
        </div>
        <div class="col-md-4 bg-dark">
            <div class="arts-container">
                <img src="assets/img/arts/styling.jpg" alt="">
            </div> 
        </div>
    </div>

    <div class="row bg-light">
        <div class="col-md-4 bg-light">
            <div class="arts-container">
                <img src="assets/img/arts/editorial.jpg" style="height: 200px; width: 170px;" alt="">
            </div>   
        </div>
        <div class="col-md-8 film-text">
            <h2 class="bg-light" style="color: black; font-style: italic; text-align: center;">EDITORIAL STYLING</h2>
            <p style="text-align: center;">Bring visual storytelling to life with captivating, fashion-forward looks. Our editorial <br>
                styling services cater to photoshoots, magazine spreads, advertising campaigns, and digital content. We collaborate with <br>
                photographers, makeup artists, and creatives to curate striking, cohesive looks that make an impact and inspire audiences.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 bg-dark film-text">
            <h2 class="bg-dark" style="font-style: italic; text-align: center;">RUNWAY & EVENT STYLING</h2>
            <p style="text-align: center; color: white;">Make every moment unforgettable. From fashion shows to high-profile events, <br>
                we coordinate head-turning looks that align with your vision and theme. With expert garment selection, fittings, and <br>
                accessorizing, we ensure models, celebrities, and clients shine confidently on stage, on the runway, or on the red carpet.</p>
            
                <div>
                    <a href="@Url.Action("Index", "Home")#contact" class="btn btn-one" style="text-decoration: none;outline: none; border: none;">
                        <span style="color: #fffe07;">Set an Appointment</span>
                    </a>
                </div>
        </div>
        <div class="col-md-4 bg-dark">
            <div class="arts-container">
                <img src="assets/img/arts/runaway.jpg" alt="">
            </div> <br><br><br>
        </div>
        
    </div>
    